<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/zephyr/bootstrap.min.css" />
    <style>
        .center-buttons {
            display: flex;
            justify-content: center;
            margin-top: 100px;
        }
        .btn-spacing {
            margin-right: 10px;
        }
    </style>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href=>Asset Manager</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">  
                    <a class="nav-link" href="{% url 'login' %}">
                        <button type="button" class="btn btn-primary btn-spacing">Sign In</button>
                    </a>
                     <a class="nav-link" href="{% url 'register' %}">
                    <button type="button" class="btn btn-primary"  >Register</button>
                    </a>
                </ul>         
            </div>
        </div>
    </nav>
      
    <div class="container">
        <div class="center-buttons">
            <a class="nav-link" href="{% url 'login' %}">
                <button type="button" class="btn btn-primary btn-spacing">Sign In</button>
            </a>
            <a class="nav-link" href="{% url 'register' %}">
                <button type="button" class="btn btn-primary"  >Register</button> 
            </a>
        </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
